* {
  box-sizing: border-box;
}
a:visited {
  color: black;
}
html, body, #app {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  color: #000000;
}

.pull-left {
  float:left;
}
.pull-right {
  float:right;
}
.align-center {
  text-align: center;
}

.wedding_header {
  background-color: white;
  padding: 0 4em;
  border-bottom: 1px solid #212121;
}

.wedding_header::after {
  clear: both;
  content: " ";
  display: table;
}

.wedding_title,
.wedding_menu {
  display: block;
  padding: 3rem 0;
  line-height: 1rem;
  margin: 0;
}

.wedding_title {
  font-weight: normal;
  font-size: 2rem;
}

.wedding_menu {
  list-style-type: none;
  text-align: right;
  font-size: 1rem;
}

.wedding_menu_item {
  display:inline;
  padding: 0 1rem;
  font-size: 1.25em;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.wedding_menu_item:hover {
  color: #9E9E9E;
}

.wedding_pic_section {
  background: #29B6F6;
  color: #FFF;
  padding: 15rem 0;
  font-size: 7rem;
  text-transform: uppercase;
  background-position: center center;
  background-repeat: no-repeat;
  font-weight: 100;
}

.wedding_ourStory {
  background-image: url(https://static1.squarespace.com/static/53d7e714e4b0cb1125a8185a/t/53e4e2d2e4b01ca7c4765bbb/1407509203716/img_0330-darkened.jpg?format=2500w);
}

.wedding_bestFriends {
  background-position: top center;
  background-image: url(https://static1.squarespace.com/static/53d7e714e4b0cb1125a8185a/t/53dbd942e4b007719c89284d/1406916932953/img_0436-darkened.jpg?format=2500w);
}

.wedding_text_section {
  padding: 8rem 0 10rem;
  margin: 0 auto;
  width: 75%;
  font-size: 1.25rem;
}

.wedding_sectionTitle {
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
}

.wedding_sectionBody {
  line-height: 2rem;
}

.wedding_sectionPicBody {
  font-size: 1em;
  margin: 0 auto;
  padding: 5rem 0;
  width: 90%;
}

.wedding_sectionImg {
  width: 100%;
  margin: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .wedding_sectionPicBody {
    padding: 12rem 0;
    width: 80%;
  }

  .wedding_sectionImg {
    width: 280px;
    margin: 0.5rem 1rem;
    border: 1px solid;
  }
}